@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*ALL ELEMENTS */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*HTML*/

html {
  height: 100%;
}

/*BODY*/

body {
  min-height: 100%;
  background: #ECECEC;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0;
}

/*HEADER*/

.global-header {
  margin: 48px 0 0;
  padding: 0;
}

.menu {
  position: relative;
  height: 36px;
  margin: 0;
  padding: 0;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}

.menu__heading {
  float: left;
  /*margin: 0 0 3px -3px;*/
  /*PerfectPixel*/
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 0.56em;
  letter-spacing: 1.2px;
  color: #303030;
}

.menu__navigation {
  float: right;
  margin-bottom: 6px;
  height: 14px;
}

.menu__list {
  float: left;
  width: 299px;
  /*height: 14px;*/
  padding: 0;
  margin: 0;
  /*margin-bottom: 6px;*/
  /*PerfectPixel*/
  list-style: none;
  /*font-size: 0;*/
}

.menu__item {
  margin: 0;
  padding: 0;
}

.menu__item:first-child {
  float: left;
}

.menu__item:last-child {
  float: right;
    /*margin-right: 48px;/*PerfectPixel*/
}

.menu__link {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: #303030;
}

.menu__link:link,
.menu__link:visited,
.menu__link:hover,
.menu__link:active {
  text-decoration: none;
}

.menu__navigation > .menu__link {
  float: right;
  width: 17px;
  /*height: 14px;*/
  margin-left: 38px;
  /*margin: 0 -1px 12px 38px;/*PerfectPixel*/
}

/*BLACK&WHITE content*/

/*SLIDER*/

.slider {
  position: relative;
  margin: 124px 0 0;
  padding: 0;
}

.slider::after {
  content: '';
  display: table;
  clear: both;
}

/*PRODUCT*/

.slider__product {
  float:left;
  width: calc(100% - 568px); /*item-photo width + item-photo margins*/
}

.slider__heading {
  margin: 0;
  /*margin: -19px 4px 0 -12px;*/
  /*PerfectPixel*/
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 150px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: right;
  color: #303030;
  text-transform: uppercase;
}

.slider__description {
  max-height: 104px;
  overflow: hidden;
  margin: 0;
  /*margin: 53px 0 25px 44px;*/
  padding: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #303030;
  text-align: right;
  /*word-break: break-all;
  white-space: normal;*/
}

.slider__link {
  display: block;
  margin: 25px 0 0 0;
  padding: 0;
  /*padding-right: 3px;*/
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: right;
  color: #e10011;
}

.slider__link:link,
.slider__link:visited,
.slider__link:hover,
.slider__link:active {
  text-decoration: none;
}

.slider__image {
  float: right;
  width: 365px;
  height: 491px;
  padding: 0;
  margin: 0 99px 0 104px;
}

/*FEATURED PRODUCT content*/

/*PRODUCTS*/

.products {
  margin:185px auto 0;
  padding-top: 114px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}

.products__heading {
  margin: 0 auto;
  padding: 0;
  /*height: 36px;*/
  font-family: Raleway, sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  color: #303030;
}

.products__heading::after {
  content: '';
  display: block;
  margin: 18px auto 12px;
  width: 213px;
  height: 17px;
  background: url("../img/underline.png") 50% 50% no-repeat;
  background-size: cover;
}

.products__description {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: center;
  color: #303030;
}

.products__galery {
  position: relative;
  margin: 54px;
  padding: 0;
  text-align: center;
}

.products__galery::after {
  content: '';
  display: table;
  clear: both;
}

.products__item {
  float: left;
  width: 33.3333333%;
  padding: 18px;
  /*margin: 0;*/
}

.products__item:first-child {
  width: 66.6666666%;
}

.products__link {
  display: block;
}

/*SUBSCRIBE content*/

.subscribe {
  margin: 99px auto 0;
  text-align: center;
}

.subscribe__heading {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  color: #303030;
  text-transform: uppercase;
}

.subscribe__description {
  margin: 27px auto 37px;
  padding: 0;
  max-width: 560px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #303030;
}

.subscribe__form {
  position: relative;
  margin: 0 auto;
  width: 702px;
  height: 70px;
  border-radius: 35px;
  background-color: #ffffff;
  text-align: center;
}

/*блок для вставки иконки в поле input*/
.subscribe__block {
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: #ffffff;*/
  /*display: inline;*/
  /*position: relative;*/
  float: left;
  border-radius: 35px;
  line-height: 70px;
  text-align: left;

}

.subscribe__input {
  /*float: left;*/
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding-left: 66px;
  padding-right: 210px;
  background-color: #ffffff;
  border: none;
  border-radius: 35px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left;
  color: #303030;
  overflow: visible;
  outline: none;
}

.subscribe__input::placeholder {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.5px;
  text-align: left;
  color: #979797;
}

.subscribe__input:focus {
  pointer-events: none;
}

.subscribe__button {
  position: absolute;
  right: 0;
  bottom: 0;
  /*float: right;*/
  height: 100%;
  padding: 0;
  border: none;
  background-color: #e10011;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.subscribe__button span {
  padding: 29px 44px 28px 56px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}


/*SOCIAL content*/

.social {
  margin: 112px auto 0;
}

.social__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}

.social__item {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.social__item:not(:first-child) {
  margin-left: 20px;
}

.social__link {
  display: block;
  text-decoration: none;
}

.social__link:link,
.social__link:visited,
.social__link:hover,
.social__link:active {
  text-decoration: none;
}

/*FOOTER*/

.global-footer {
  margin: 50px auto 15px;
}

.copyright {
  text-align: center;
}

.copyright__text {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 15px 55px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: #979797;
}

.copyright__text span {
  color: #303030;
}

/*ICONS*/

.icon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
}

.icon--menu {
  display: block;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #303030;
}

.icon--input {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 14px 0 32px;
  /*display: inline;*/
  /*width: 20px;*/
  /*height: 15px;*/
  font-size: 18px;
  /*line-height: 1.33;*/
  letter-spacing: 0.5px;
  color: #979797;
}

.icon--button {
  font-size: 18px;
  color: #ffffff;
  /*padding-right: 44px;*/
}

.icon--social {
  display: block;
  font-size: 34px;
  line-height: 70px;
  color: #979797;
}
