@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*ALL ELEMENTS */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*HTML*/

html {
  height: 100%;
  max-width: 1500px;
}

/*BODY*/

body {
  min-height: 100%;
  background: #ECECEC;
}

/*HEADER*/

.main-header {
  margin: 48px 150px 124px;
  padding: 0;
}

.navigation {
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
}

.navigation-heading {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 2px -3px;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 0.56;
  letter-spacing: 1.2px;
  text-align: left;
  color: #303030;
}

.navigation-list {
  position: absolute;
  right: 0;
  bottom: 0;
  list-style: none;
  margin-bottom: 5px;
  padding: 0;
  font-size: 0;
  vertical-align: bottom;
}

.navigation-item {
  display: inline-block;
  height: 14px;
}

.navigation-item-reference {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #303030;
}

.menu {
  width: 17px;
  height: 14px;
  margin: 0;
  padding: 0;
  font-family: FontAwesome, sans-serif;
}

.navigation-item:nth-child(2) {
  margin-right:38px;
  margin-left: 48px;
}


.navigation-item-reference:link,
.navigation-item-reference:visited,
.navigation-item-reference:hover,
.navigation-item-reference:active {
  text-decoration: none;
}

/*BODY*/

.container {
  margin: 0 150px 185px;
  padding: 0;
  font-size: 0;
}

.item-info {
  display: inline-block;
  width: 618px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.item-heading {
  display: block;
  width: 100%;
  margin: -18px 0 0 -7px;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 150px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: right;
  color: #303030;
  text-transform: uppercase;
  /*word-break: normal;
  white-space: nowraps;*/
}

.item-description {
  display: block;
  height: 104px;
  margin: 22px 3px 17px 41px;
  padding: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #303030;
  text-align: right;
  overflow: hidden;
  outline: none;
  word-break: break-all;
  white-space: normal;
}

.item-reference {
  display: block;
  margin-right: 0 0 0 25px;
  padding-right: 3px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: right;
  color: #e10011;
}

.item-reference:link,
.item-reference:visited,
.item-reference:hover,
.item-reference:active {
  text-decoration: none;
}

.item-photo {
  display: inline-block;
  width: 365px;
  height: 491px;
  padding: 0;
  margin: -18px 100px 0 100px;
  background: url('../img/beats-headphones.png') no-repeat 100% #eeeeee;
}
